<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>A data scientist with solid knowledge base in Machine Learning/Deep Learning/Big Data, and strong ability in transforming complex business scenarios in to mathematical models. A fast learner with extreme passion on emerging and innovative technologies. Interested in leveraging the business values of data.</p>
</div><!--//summary-->
</section><!--//section-->
