<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Scientist</h3>
                            <div class="time">2017.07 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">HousingAnywhere, Rotterdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•  Enhance operational performances of the platform by applying data analysis techniques <br /> 
                           •  Build product dashboards to automate regular reporting activities <br />
                           •  Support general management team making decisions (e.g fundraising pitch deck) <br /> 
                           •  Create a recommendation system for suggesting similar rooms/apartments based on user's shown preferences <br />
                           •  Create a model using natural language processing to detect fraudulent messages on HousingAnywhere's platform</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Strategic Development Consultant</h3>
                            <div class="time">2016.10 - 2017.06</div>
                        </div><!--//upper-row-->
                        <div class="company">Cushman & Wakefield, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•  Responsible for ten real estate and regional development consultancy projects <br /> 
                           •  Prepared documents for proposal tendering <br /> 
                           •  Gathered and analyzed state-of-the-art information for business development, client support, financial and internal analysis <br /> 
                           •  Produced reports of feasibility study, market analysis and project planning <br /> 
                           •  Ensured accurate, timely and effective progress reporting to the client</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher</h3>
                            <div class="time">2014.10 – 2016.07</div>
                        </div><!--//upper-row-->
                        <div class="company">Delft University of Technology, the Netherlands</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>• Prototyped a search engine in python to integrate information management processes for infrastructure asset management <br /> 
• Prototyped an Excel VBA powered program integrated with Autodesk applications to enable 5D BIM-based cost estimation,
cash flow control and project financing <br /> 
• Supported in integrating Rijkswaterstaat asset information databases by applying data mining algorithms <br /> 
• Investigated implementation of BIM in the Design, Build, Maintenance and Operation stages of infrastructure projects <br /> 
• Managed project information collecting, analyzing and reporting <br /> 
• Organized regular meetings within the research team and with external professionals <br /> 
• Prepared a conference paper and a journal paper</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
