<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Scientist</h3>
                            <div class="time">2017.07 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">HousingAnywhere, Rotterdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•  Enhance operational performances of the platform by applying data analysis techniques <br /> 
                           •  Build product dashboards to automate regular reporting activities <br />
                           •  Support general management team making decisions (e.g fundraising pitch deck) <br /> 
                           •  Create a recommendation system for suggesting similar rooms/apartments based on user's shown preferences <br />
                           •  Create a model using natural language processing to detect fraudulent messages on HousingAnywhere's platform</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Strategic Development Consultant</h3>
                            <div class="time">2016.10 - 2017.06</div>
                        </div><!--//upper-row-->
                        <div class="company">Cushman & Wakefield, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•  Responsible for ten real estate and regional development consultancy projects <br /> 
                           •  Prepared documents for proposal tendering <br /> 
                           •  Gathered and analyzed state-of-the-art information for business development, client support, financial and internal analysis <br /> 
                           •  Produced reports of feasibility study, market analysis and project planning <br /> 
                           •  Ensured accurate, timely and effective progress reporting to the client</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
