<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>To be added</p>
                </div><!--//intro-->
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Project Name</a></span> - 
                    <span class="project-tagline">Description</span>
                   
            </section><!--//section-->
